#!/usr/bin/env bash

ENV_PRJ_NAME=debounce
export ENV_PRJ_NAME

ENV_REPO="$(git rev-parse --show-toplevel 2>/dev/null)"
export ENV_REPO
PATH_add "${ENV_REPO}"

ENV_CONF_FILE="${ENV_REPO}/${ENV_PRJ_NAME}.conf"
export ENV_CONF_FILE

ENV_INIT_FILE="${ENV_REPO}/${ENV_PRJ_NAME}.init"
export ENV_INIT_FILE

ENV_SRVC_FILE="${ENV_REPO}/${ENV_PRJ_NAME}"
export ENV_SRVC_FILE
